# Leads
* @OreCode/leads

# general
backend/ @OreCode/backend @OreCode/code-reviewers
frontend/ @OreCode/frontend @OreCode/code-reviewers
frontend-admin/ @OreCode/frontend-admin @OreCode/code-reviewers

# DevOps Things
.github/ @tbwrigh
docker-compose.yml @tbwrigh
