.p-van-page {
  .van-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    > .van-card {
      aspect-ratio: 1 / 1;
      min-width: 164px;
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
      }
      .c-colored-select {
        margin-top: 4px;
      }
    }
  }
  .add-button {
    width: fit-content;
  }
}
