.p-van-page {
  .van-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    > .van-card {
      aspect-ratio: 1 / 1;
      max-width: fit-content;
      display: flex;
      align-items: center;
    }
  }
  .add-button {
    width: fit-content;
  }
}
